@font-face{
    font-family: 'work-sans-regular';
    src: url("./assets/fonts/static/WorkSans-Regular.ttf");
}
@font-face{
    font-family: 'work-sans-bold';
    src: url("./assets/fonts/static/WorkSans-Bold.ttf");
}
.colorWhite{
    color: hsl(0,0%,100%);
}
.colorLightPink{
    color: hsl(275,100%,97%);
}
.colorGrayPurple{
    color: hsl(292,16%,49%);
}
.colorDarkPurple{
    color: hsl(292, 42%, 14%);
}
.hidden{
    display: none;
}
.borderTop{
    border-top: 2px solid hsl(275,100%,97%);
}

html{
    overflow-y: scroll;
}

body{
    display: flex;
    font-family: "work-sans-regular";
    justify-content: center;
    flex-flow: column;
    width: 100vw;
    margin: 0;
    background-color: hsl(275,100%,97%);
    background-image: url("/assets/images/background-pattern-desktop.svg");
    background-size: 1440px;
    background-repeat: no-repeat;
    background-position: top center;
    font-size: 16px;
}

.divMain{
    display: flex;
    flex-direction: column;
    align-self: center;
    background-color: white;
    width: clamp(300px,560px,560px);
    border-radius: 10px;
    padding: 0px 40px 40px 40px;
    margin-top: 4rem;
}

header{
    display: flex; 
    gap: 10px;
}

header > p{
    font-size: 36px;
    font-family: "work-sans-bold";
}

summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "work-sans-bold";
    font-weight: 700;
    font-size: 18px;
    padding-right: 2rem;
    height: 3rem;
}

details{
    padding-bottom: 20px;
}

details > summary{
    background-image: url('/assets/images/icon-plus.svg');
    background-repeat: no-repeat;
    background-position: right;
}
details > summary:hover{
    color: hsl(292,16%,49%);
}
details > summary:active{
    background-image: url('/assets/images/icon-minus.svg');
}

@media (min-width: 320px) and (orientation: portrait){
    body{
        margin: 0;
        background-image: url("/assets/images/background-pattern-mobile.svg");
        background-size: 100vw;
    }
    .divMain{
        width: clamp(10vw, 67vw, 67vw);
    }
    
}


.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}